@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Cognitive Services - Face API Person administration</h1>
    <p class="lead">This aim to easy the interaction with the <a href="https://www.microsoft.com/cognitive-services/en-us/face-api/documentation/overview" target="_blank">Face API</a> creating and deleting the Person (with its uploaded faces) and the Person Group</p>
    <p><a href="https://westus.dev.cognitive.microsoft.com/docs/services/563879b61984550e40cbbe8d" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>Review the Persons groups.</p>
        @Html.ActionLink("View Person Groups", "Index", "PersonGroup", null, new { @class = "btn btn-default" })
        @*<p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>*@
    </div>
    <div class="col-md-4">
        <h2>Add Persons</h2>
        <p>Adding persons requires only a Name who identify the person and pick a Person Group.</p>
        @Html.ActionLink("View persons", "Index", "Person", null, new { @class = "btn btn-default" })
        @*<p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">View persons &raquo;</a></p>*@
    </div>
    <div class="col-md-4">
        <h2>Try it!</h2>
        <p>You can try the Face Identiy API uploading a picture and view the faces detected and the persons identified.</p>
        @Html.ActionLink("Try it", "Index", "Try", null, new { @class = "btn btn-default" })
        @*<p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>*@
    </div>
</div>